@font-face {
	font-family: "Body-Font";
	src: url("../fonts/Ferrari-SansRegular.woff2") format("woff2"),
		url("../fonts/Ferrari-SansRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
	font-stretch: normal;
}

@font-face {
	font-family: "Title-Font";
	src: url("../fonts/Ferrari-SansMedium.woff2") format("woff2"),
		url("../fonts/Ferrari-SansMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
	font-stretch: normal;
}
